@charset "utf-8";
@import './reset.css';

.not-found-page {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.not-found-content {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.not-found-content h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: inherit;
}

.not-found-content h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: inherit;
}


.not-found-content p {
  font-size: 1.5rem;
  color: inherit;
  line-height: 1.5;
}


.back-home-btn {
  width:150px;
  align-self: center;
  margin-top: 10px;
  display: inline-block;
  padding: 12px 26px;
  background-color:  #00a86b;
  color: #fff;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.back-home-btn:hover {
  background-color: #018b58;
}
